.fond-juste-prix{
    background-image: url(juste-prix.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.gras{
    font-weight: bold;
}

.rouge{
    color: red;
}

.vert{
    color: green;
}

.ecriture-blanche{
    color: white;
}

.points {
    font-weight: bold;
    color: white;
}
