.fond-juste-prix{
    background-image: url(juste-prix.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.gras{
    font-weight: bold;
}

.faux{
    color: red;
}

.juste{
    color: yellow;
}

.ecriture-blanche{
    color: white;
}

.points {
    font-weight: bold;
    color: white;

}
